<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_FileServiceInterface" 
                         transferMode="Streamed"
                         maxReceivedMessageSize="1000000000"
                         maxBufferSize="8192"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9007/Files/endpoint_Files"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_FileServiceInterface"
                contract="FileService.FileServiceInterface" name="BasicHttpBinding_FileServiceInterface" />
        </client>
    </system.serviceModel>
</configuration>
