<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_MainServiceInterface" />
            </basicHttpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_CalculateServiceInterface" />
                <binding name="WSDualHttpBinding_CalculateServiceInterface1" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9006/Calculations/endpoint_Calculations"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_CalculateServiceInterface1"
                contract="MainService.CalculateServiceInterface" name="WSDualHttpBinding_CalculateServiceInterface1">
                <identity>
                    <userPrincipalName value="LAPTOP-3O30400M\epicm" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:9005/MainService/endpoint_MainService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_MainServiceInterface"
                contract="MainService.MainServiceInterface" name="BasicHttpBinding_MainServiceInterface" />
            <endpoint address="http://localhost:9006/Calculations/endpoint_Calculations"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_CalculateServiceInterface"
                contract="CalculateService.CalculateServiceInterface" name="WSDualHttpBinding_CalculateServiceInterface">
                <identity>
                    <userPrincipalName value="LAPTOP-3O30400M\epicm" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>
